* {
  font-family: "Overpass Nerd Font", FontAwesome6Free;
  font-size: 14px;
}

window#waybar {
  background-color: #0f111b;
  color: #ecf0c1;
}

#workspaces button {
  color: #686f9a;
}

#workspaces button.active {
  color: #ecf0c1;
}

#workspaces button.active:hover {
  color: #686f9a;
}

#workspaces button:hover {
  background-color: #ecf0c1;
}

#cpu,
#memory,
#battery,
#clock,
#tray,
#backlight,
#pulseaudio,
#custom-media,
#network {
  font-family: "JetBrainsMono Nerd Font", FontAwesome6Free;
  padding: 0 8px;
}

#battery {
  color: #5ccc96;
}

#battery.good {
  color: #5ccc96;
}

#battery.warning {
  color: #e39400;
}

#battery.critical {
  color: #e33400;
}
