@import "themes/nord.css";

* {
  font-family: "Inter", FontAwesome6Free;
  font-size: 14px;
}

tooltip {
  font-family: Cantarell;
}

window#waybar {
  background: rgba(0, 0, 0, 0);
  font-weight: bold;
}

#clock,
#battery,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#cpu,
#mpd {
  background: @bg0;
  color: @fg;
  border: 1px solid @bg5;
}

#cpu,
#memory,
#battery,
#network {
  background: @bg0;
  padding: 0 4px;
}

#battery {
  font-weight: bold;
  border-left: none;
  border-right: none;
}

#cpu {
  color: @green;
  padding-left: 12px;
  border-radius: 8px 0 0 8px;
  border-right: none;
}

#memory {
  color: @blue;
  border-left: none;
  border-right: none;
}

#network {
  border-radius: 0 8px 8px 0;
  padding-right: 12px;
  color: @purple;
  border-left: none;
}

#clock {
  font-weight: bold;
  margin: 0 2px;
  padding: 0 8px;
  border-radius: 8px;
}

#tray {
  color: @fg;
  padding: 0 8px;
  background: @bg0;
  border-radius: 8px;
  margin-left: 2px;
}

#workspaces {
  border-radius: 8px;
  background: @bg0;
  margin-right: 4px;
  padding: 4px;
  border: 1px solid @bg5;
}

#workspaces button {
  padding: 0 4px;
  margin-right: 4px;
  background-color: transparent;
  color: @fg;
  font-weight: bold;
  font-size: 16px;
}

#workspaces button:last-child {
  margin-right: 0;
}

#workspaces button.active {
  font-weight: bold;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.3);
}

#workspaces button:hover {
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.5);
}

#workspaces button.focused {
  background-color: @bg3;
  box-shadow: inset 0 -3px @fg;
}

#workspaces button.urgent {
  background-color: @red;
}

#custom-media {
  color: @fg;
  margin-right: 12px;
  background: none;
  padding: 0 8px;
  border-radius: 8px;
}

#battery.critical {
  color: @red;
}

#battery.warning {
  color: @orange;
}

#battery.charging,
#battery.plugged {
  color: @green;
}

#pulseaudio {
  margin-left: 4px;
  margin-right: 2px;
  padding: 0 12px;
  border-radius: 8px;
}

#backlight {
  margin: 0 2px;
  padding: 0 12px;
  border-radius: 8px;
}
