* {
  font-family: "JetBrainsMono Nerd Font", FontAwesome6Free;
  font-size: 12px;
}

window#waybar {
  background-color: #1e2326;
  color: #d3c6aa;
}

#workspaces button {
  color: #3d484d;
}

#workspaces button.active {
  color: #d3c6aa;
}

#workspaces button.active:hover {
  color: #3d484d;
}

#workspaces button:hover {
  background-color: #d3c6aa;
}

#cpu,
#memory,
#battery,
#clock,
#tray,
#backlight,
#pulseaudio,
#network {
  padding: 0 8px;
}

#battery.good {
  color: #a7c080;
}

#battery.warning {
  color: #dbbc7f;
}

#battery.critical {
  color: #e69875;
}
